.main_container {
	margin-top: 2em;
}

.task_form {
	border-style: solid;
    border-color: #bbb;
    border-radius: 8px;
    border-width: 1px;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding: 1em;
}

.task_list {
}

.task_item {
    margin-top: 1em;
    padding: 1em;
    list-style: none;
    border-style: solid;
    border-color: #bbb;
    border-radius: 4px;
    border-width: 1px;
    box-shadow: none;
    background-color: #fff;
}

.task_item > p {
    margin: 0;
    font-size: 1.2em;
}

.no_tasks{
    margin-top: 1em;
}