<!doctype html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8">
		<title>Minhas Tarefas</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="css/app.css" rel="stylesheet">
	</head>
	<body ng-app="tasksApp">
		<div class="container main_container" ng-controller="TasksController as ctrl">
			<!-- Static navbar -->
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Minhas Tarefas</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li ng-class="ctrl.taskTab == 'pendentes' ? 'active' : '' "><a ng-click="ctrl.setTab('pendentes')" href="#">Pendentes</a></li>
							<li ng-class="ctrl.taskTab == 'concluidas' ? 'active' : '' "><a ng-click="ctrl.setTab('concluidas')" href="#">Concluídas</a></li>
						</ul>						
					</div>
					<!--/.nav-collapse -->
				</div>
				<!--/.container-fluid -->
			</nav>
			<!-- Main component for a primary marketing message or call to action -->
			<div class="jumbotron" ng-show="ctrl.taskTab == 'pendentes'">
				<h1>Tarefas Pendentes</h1>
				<button type="button" class="btn btn-primary" ng-click="ctrl.showNewTaskForm = true">Nova Tarefa</button>
				
				<form ng-show="ctrl.showNewTaskForm" class="task_form">
					<h2>Nova Tarefa</h2>
					
					<div class="form-group">
						<label for="title">Título</label>
						<input type="text" ng-model="ctrl.newTask.title" class="form-control" id="title" placeholder="Título">
					</div>
					
					<div class="form-group">
						<label for="priority">Prioridade</label>
						<select id="priority" class="form-control" ng-model="ctrl.newTask.priority" convert-to-number>
						  <option value="0" >0 (Mínima)</option>
						  <option value="1" >1</option>
						  <option value="2" >2</option>
						  <option value="3" >3</option>
						  <option value="4" >4</option>
						  <option value="5" >5</option>
						  <option value="6" >6</option>
						  <option value="7" >7</option>
						  <option value="8" >8</option>
						  <option value="9" >9 (Máxima)</option>
						</select>
					</div>
					
					<div class="form-group">
						<label for="description">Descrição</label>
						<textarea  ng-model="ctrl.newTask.description" type="text" class="form-control" rows="5" id="description" placeholder="Descrição"></textarea>
					</div>
					
					<button type="button" ng-click="ctrl.resetHideNewTaskForm()" class="btn btn-default">Cancelar</button>
					<button type="button" ng-click="ctrl.addTask()" class="btn btn-success">Adicionar</button>
				</form>

				<form ng-show="ctrl.showEditTaskForm" class="task_form">
					<h2>Editar Tarefa</h2>
					
					<div class="form-group">
						<label for="title_edit">Título</label>
						<input type="text" ng-model="ctrl.taskEdit.title" class="form-control" id="title_edit" placeholder="Título">
					</div>

					<div class="form-group">
						<label for="priority_edit">Prioridade</label>
						<select id="priority_edit" class="form-control" ng-model="ctrl.taskEdit.priority" convert-to-number>
						  <option value="0" >0 (Mínima)</option>
						  <option value="1" >1</option>
						  <option value="2" >2</option>
						  <option value="3" >3</option>
						  <option value="4" >4</option>
						  <option value="5" >5</option>
						  <option value="6" >6</option>
						  <option value="7" >7</option>
						  <option value="8" >8</option>
						  <option value="9" >9 (Máxima)</option>
						</select>
					</div>

					<div class="form-group">
						<label for="description_edit">Descrição</label>
						<textarea  ng-model="ctrl.taskEdit.description" type="text" class="form-control" rows="5" id="description_edit" placeholder="Descrição"></textarea>
					</div>
					
					<button type="button" ng-click="ctrl.resetHideEditTaskForm()" class="btn btn-default">Cancelar</button>
					<button type="button" ng-click="ctrl.updateTask()" class="btn btn-success">Editar</button>
				</form>
				
				<p class="no_tasks" ng-show="ctrl.pendingTasks.length === 0">
					Não há tarefas pendentes.
				</p>

				<ul class="task_list">
					<li class="task_item" ng-repeat="task in ctrl.pendingTasks">
						<p class="task_title">Título: {{task.title}}</p>
						<p>Prioridade (0 à 9): {{task.priority}}</p>
						<p>Data de criação: {{ task.creation_date | date : "dd/MM/yyyy 'às' HH:mm:ss" }} </p>
						<p ng-show="task.update_date !== null">Data da última modificação: {{task.update_date  | date : "dd/MM/yyyy 'às' HH:mm:ss" }}</p>
						<hr ng-show="task.description">
						<p ng-show="task.description">Descrição: {{task.description}}</p>
						<hr>
						<button type="button" class="btn btn-default" ng-click="ctrl.editTask(task)">Editar Tarefa</button>
						<button type="button" class="btn btn-success" ng-click="ctrl.finalizeTask(task)">Finalizar Tarefa</button>
						<button type="button" class="btn btn-danger" ng-click="ctrl.deleteTask(task)">Deletar Tarefa</button>
					</li>
				</ul>		

			</div>

			<div class="jumbotron" ng-show="ctrl.taskTab == 'concluidas'">
				<h1>Tarefas Concluídas</h1>
				<p class="no_tasks" ng-show="ctrl.completeTasks.length === 0">
					Não há tarefas concluídas.
				</p>

				<ul class="task_list">
					<li class="task_item" ng-repeat="task in ctrl.completeTasks">
						<p class="task_title">Título: {{task.title}}</p>
						<p>Prioridade (0 à 9): {{task.priority}}</p>
						<p>Data de criação: {{ task.creation_date | date : "dd/MM/yyyy 'às' HH:mm:ss" }} </p>
						<p ng-show="task.update_date !== null">Data da última modificação: {{task.update_date  | date : "dd/MM/yyyy 'às' HH:mm:ss" }}</p>
						<p>Data de conclusão: {{task.conclusion_date | date : "dd/MM/yyyy 'às' HH:mm:ss" }}</p>
						<hr ng-show="task.description">
						<p ng-show="task.description">Descrição: {{task.description}}</p>
						<hr>
						<button type="button" class="btn btn-warning" ng-click="ctrl.setAsPending(task)">Marcar Como Pendente</button>
						<button type="button" class="btn btn-danger" ng-click="ctrl.deleteTask(task)">Deletar Tarefa</button>
					</li>
				</ul>	
			</div>
			
		</div>
		<!-- /container -->
		<script src="js/libs/angular.min.js"></script>
		<script src="js/libs/jquery-3.1.1.min.js"></script>
		<script src="js/libs/bootstrap.min.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>